<section id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 headline" style="visibility: visible;">
				<h2><%= t :about, scope: :sections %></h2>
			</div>

			<div class="col-md-5 col-sm-12 hidden-xs wow bounceInLeft animated" >
				<div class="row">
					<%= image_tag "profile.jpg", class: "img-responsive" %>				
				</div>
				<div class="row">
				</div>
			</div>


			<div class="col-md-7 col-sm-12 wow bounceInRight animated">
				<h3><%= t :professional_profile, scope: :about %></h3>
				<p><%= t :text1, scope: :about %></p>
				<p><%= t :text2, scope: :about %></p>
					<div class="profile-widget">
						<h3><%= t :social_profiles, scope: :about %></h3>
						<ul class="widget-social">
							<li><a href="https://twitter.com/da_vidgf"><i class="fa fa-twitter fa-fw"></i></a></li>
							<li><a href="https://github.com/davidgf"><i class="fa fa-github-alt"></i></a></li>
							<li><a href="https://www.linkedin.com/in/davidgarciafdz"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="http://stackoverflow.com/users/978515/davids"><i class="fa fa-stack-overflow"></i></a></li>
						</ul>
					</div>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>