<section id="experience" class="section"> 
  <div class="container">
      <div class="row">
        <div class="col-md-12 headline">
          <h2><%= t :experience, scope: :sections %></h2>
        </div>
      </div>
      <ul class="timeline">
          <li class="timeline-year">
            <div class="timeline-year-badge">201</div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel wow slideInRight animated">
              <div class="timeline-heading">
                <h4 class="timeline-title"><%= t :soft_eng, scope: :experience %></h4>
                <p><strong>microapps S.L.</strong><small> - M치laga (<%= t :spain, scope: [:experience, :country] %>)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> <%= t(:month_names, scope: :date)[3] %> 2015 - <%= t :to_date, scope: :experience %></small></p>
                <p></p>
              </div>
              <div class="timeline-body">
                <p><%= t :microapps, scope: :experience %></p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "rails.png", class:"img-responsive", alt: "Ruby on Rails" %></div>
                  <div class="col-xs-3"><%= image_tag "html5.png", class:"img-responsive", alt: "HTML5" %></div>
                  <div class="col-xs-3"><%= image_tag "aws_black.png", class:"img-responsive", alt: "AWS" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2014</div>
          </li>
          <li>
            <div class="timeline-panel wow slideInLeft animated">
              <div class="timeline-heading">
                <h4 class="timeline-title"><%= t :manager, scope: :experience %></h4>
                <p><strong>Ferganova S.L.</strong><small> - A Coru침a (<%= t :spain, scope: [:experience, :country] %>)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> <%= t(:month_names, scope: :date)[1] %> 2014 - <%= t(:month_names, scope: :date)[3] %> 2015</small></p>
                <p></p>
              </div>
              <div class="timeline-body">
                <p><%= t :ferganova, scope: :experience %></p>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2012</div>
          </li>
          <li>
            <div class="timeline-panel wow slideInLeft animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">Software Engineer</h4>
                <p><strong>3.14 Financial Contents</strong><small> - Ferrol (<%= t :spain, scope: [:experience, :country] %>)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> <%= t(:month_names, scope: :date)[2] %> 2012 - <%= t(:month_names, scope: :date)[10] %> 2013</small></p>
              </div>
              <div class="timeline-body">
                <p><%= t :trescatorce, scope: :experience %></p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "python.png", class:"img-responsive", alt: "Python" %></div>
                  <div class="col-xs-3"><%= image_tag "html5.png", class:"img-responsive", alt: "HTML5" %></div>
                  <div class="col-xs-3"><%= image_tag "phonegap_mini.png", class:"img-responsive", alt: "Phonegap" %></div>
                  <div class="col-xs-3"><%= image_tag "jquery_mini.png", class:"img-responsive", alt: "jQuery" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2011</div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel wow slideInRight animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">Freelance Project</h4>
                <p><strong>Trinquel Internet S.L.</strong><small> - A Coru침a (<%= t :spain, scope: [:experience, :country] %>)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> <%= t(:month_names, scope: :date)[12] %> 2011 - <%= t(:month_names, scope: :date)[2] %> 2012</small></p>
              </div>
              <div class="timeline-body">
                <p><%= t :trinquel, scope: :experience %></p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "html5.png", class:"img-responsive", alt: "HTML5" %></div>
                  <div class="col-xs-3"><%= image_tag "phonegap_mini.png", class:"img-responsive", alt: "Phonegap" %></div>
                  <div class="col-xs-3"><%= image_tag "jquery_mini.png", class:"img-responsive", alt: "jQuery" %></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-panel wow slideInLeft animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">Software Engineer</h4>
                <p><strong>Trident Safety Group</strong><small> - Ballincollig (<%= t :ireland, scope: [:experience, :country] %>)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> <%= t(:month_names, scope: :date)[9] %> 2011 - <%= t(:month_names, scope: :date)[12] %> 2011</small></p>
              </div>
              <div class="timeline-body">
                <p><%= t :trident, scope: :experience %></p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "rails.png", class:"img-responsive", alt: "Ruby on Rails" %></div>
                  <div class="col-xs-3"><%= image_tag "html5.png", class:"img-responsive", alt: "HTML5" %></div>
                  <div class="col-xs-3"><%= image_tag "jquery_mini.png", class:"img-responsive", alt: "jQuery" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel wow slideInRight animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">Consultant</h4>
                <p><strong>Nfoque Advisory Services</strong><small> - Madrid (<%= t :spain, scope: [:experience, :country] %>)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> <%= t(:month_names, scope: :date)[8] %> 2011 - <%= t(:month_names, scope: :date)[1] %> 2011</small></p>
              </div>
              <div class="timeline-body">
                <p><%= t :nfq, scope: :experience %></p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "bash_mini.png", class:"img-responsive", alt: "Bash" %></div>
                  <div class="col-xs-3"><%= image_tag "linux_mini.png", class:"img-responsive", alt: "Linux" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2010</div>
          </li>
          <li>
            <div class="timeline-panel wow slideInLeft animated">
              <div class="timeline-heading">
                <h4 class="timeline-title">Intern</h4>
                <p><strong>R Cable y Telecomunicaciones Galicia</strong><small> - A Coru침a (<%= t :spain, scope: [:experience, :country] %>)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> <%= t(:month_names, scope: :date)[1] %> 2010 - <%= t(:month_names, scope: :date)[7] %> 2011</small></p>
              </div>
              <div class="timeline-body">
                <p><%= t :r, scope: :experience %></p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "jsp_mini.png", class:"img-responsive", alt: "JSP" %></div>
                  <div class="col-xs-3"><%= image_tag "linux_mini.png", class:"img-responsive", alt: "Linux" %></div>
                </div>
              </div>
              </div>
            </div>
          </li>
      </ul>
  </div>
</section>