<section id="experience" class="section"> 
  <div class="container">
      <div class="row">
        <div class="col-md-12 headline">
          <h2>Experience</h2>
        </div>
      </div>
      <ul class="timeline">
          <li class="timeline-year">
            <div class="timeline-year-badge">2014</div>
          </li>
          <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Manager</h4>
                <p><strong>Ferganova S.L.</strong><small> - A Coruña (Spain)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> January 2014 - present</small></p>
                <p></p>
              </div>
              <div class="timeline-body">
                <p>Manager of industrial company, performing tasks of accounting, treasury, Autocad drawing and systems administrator, among others.</p>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2012</div>
          </li>
          <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Software Engineer</h4>
                <p><strong>3.14 Financial Contents</strong><small> - Ferrol (Spain)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> February 2012 - October 2013</small></p>
              </div>
              <div class="timeline-body">
                <p>Analysis, design and development of web and mobile applications, both web based and native, for the e-book

industry.</p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "python.png", class:"img-responsive", alt: "Python" %></div>
                  <div class="col-xs-3"><%= image_tag "html5.png", class:"img-responsive", alt: "HTML5" %></div>
                  <div class="col-xs-3"><%= image_tag "phonegap_mini.png", class:"img-responsive", alt: "Phonegap" %></div>
                  <div class="col-xs-3"><%= image_tag "jquery_mini.png", class:"img-responsive", alt: "jQuery" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2011</div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Freelance Project</h4>
                <p><strong>Trinquel Internet S.L.</strong><small> - A Coruña (Spain)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> December 2011 - February 2012</small></p>
              </div>
              <div class="timeline-body">
                <p>Analysis, design and development of a mobile application for iPhone and Android devices.</p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "html5.png", class:"img-responsive", alt: "HTML5" %></div>
                  <div class="col-xs-3"><%= image_tag "phonegap_mini.png", class:"img-responsive", alt: "Phonegap" %></div>
                  <div class="col-xs-3"><%= image_tag "jquery_mini.png", class:"img-responsive", alt: "jQuery" %></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Software Engineer</h4>
                <p><strong>Trident Safety Group</strong><small> - Ballincollig (Ireland)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> September 2011 - December 2011</small></p>
              </div>
              <div class="timeline-body">
                <p>Analysis, design and development of a web based application for the pharmaceutical sector.</p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "rails.png", class:"img-responsive", alt: "Ruby on Rails" %></div>
                  <div class="col-xs-3"><%= image_tag "html5.png", class:"img-responsive", alt: "HTML5" %></div>
                  <div class="col-xs-3"><%= image_tag "jquery_mini.png", class:"img-responsive", alt: "jQuery" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Consultant</h4>
                <p><strong>Nfoque Advisory Services</strong><small> - Madrid (Spain)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> August 2011 - January 2011</small></p>
              </div>
              <div class="timeline-body">
                <p>Design and construction of several developments in Unix shell scripting for a project to Back Office Treasury of

BBVA</p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "bash_mini.png", class:"img-responsive", alt: "Bash" %></div>
                  <div class="col-xs-3"><%= image_tag "linux_mini.png", class:"img-responsive", alt: "Linux" %></div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-year">
            <div class="timeline-year-badge">2010</div>
          </li>
          <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Intern</h4>
                <p><strong>R Cable y Telecomunicaciones Galicia</strong><small> - A Coruña (Spain)</small>&nbsp;<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> January 2010 - July 2011</small></p>
              </div>
              <div class="timeline-body">
                <p>Web development in JSP and systems administration</p>
                <div class="row technologies">
                  <div class="col-xs-3"><%= image_tag "jsp_mini.png", class:"img-responsive", alt: "JSP" %></div>
                  <div class="col-xs-3"><%= image_tag "linux_mini.png", class:"img-responsive", alt: "Linux" %></div>
                </div>
              </div>
              </div>
            </div>
          </li>
      </ul>
  </div>
</section>