<section id="skills" class="callout">
	<div class="container">
		<div class="row">
			<div class="col-md-12" >
				<h2 class="text-center visible-xs visible-sm">Skills</h2>
				<h2 class="hidden-xs hidden-sm">Skills</h2>
			</div>

			<div class="col-md-9 col-sm-12 skillset" >
				<h3 class="hidden-xs hidden-sm">Technical skills</h3>
				<h3 class="text-center visible-xs visible-sm">Technical skills</h3>
				<div class="row text-center">
					<div class="col-md-2 col-sm-4">					
						<%= image_tag "rails.png", class: "img-responsive center-block" %>				
						<h4>Ruby On Rails</h4>
					</div>
					<div class="col-md-2 col-sm-4">					
						<%= image_tag "python.png", class: "img-responsive center-block" %>				
						<h4>Python</h4>
					</div>
					<div class="col-md-2 col-sm-4">					
						<%= image_tag "js.png", class: "img-responsive center-block" %>				
						<h4>JavaScript</h4>
					</div>
					<div class="col-md-2 col-sm-4">					
						<%= image_tag "html5.png", class: "img-responsive center-block" %>				
						<h4>HTML5</h4>
					</div>
					<div class="col-md-2 col-sm-4">					
						<%= image_tag "git.png", class: "img-responsive center-block" %>				
						<h4>Git</h4>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-3">
						<i class="fa fa-check"></i>&nbsp;jQuery/jQuery Mobile
					</div>
					<div class="col-md-2">
						<i class="fa fa-check"></i>&nbsp;Phonegap
					</div>
					<div class="col-md-3">
						<i class="fa fa-check"></i>&nbsp;Backbone.js
					</div>
					<div class="col-md-2">
						<i class="fa fa-check"></i>&nbsp;Java
					</div>
				</div>
			</div>


			<div class="col-md-3 col-sm-12 text-center">
				<h3>Preferred OS</h3>
				<div class="row">
					UNIX based operating systems like: 
				</div>
				<div class="row">
					<div class="col-xs-6">
						<%= image_tag "ubuntu.png", class: "img-responsive center-block" %>
						<h4>Ubuntu</h4>
					</div>
					<div class="col-xs-6">
						<%= image_tag "osx.png", class: "img-responsive center-block" %>
						<h4>OSx</h4>
					</div>
				</div>
			</div>


			<div class="col-md-3 col-sm-12 text-center">
				<h3>Languages</h3>
				<div class="row">
					<div class="col-xs-4">
						Spanish
					</div>
					<div class="col-xs-8">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
								Native
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						Galician
					</div>
					<div class="col-xs-8">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
								Native
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						English
					</div>
					<div class="col-xs-8">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
								Advanced
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						Portuguese
					</div>
					<div class="col-xs-8">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
								Basic
							</div>
						</div>
					</div>
				</div>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>