<section id="skills" class="callout">
	<div class="container">
		<div class="row">
			<div class="col-md-12 headline wow bounceInDown animated" style="visibility: visible;">
				<h2>Skills</h2>
			</div>

			<div class="col-md-8 col-sm-12 hidden-xs wow bounceInLeft animated" >
				<div class="row">
					<div class="col-md-2">					
						<%= image_tag "rails.png", class: "img-responsive" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "rails.png", class: "img-responsive" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "rails.png", class: "img-responsive" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "rails.png", class: "img-responsive" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "rails.png", class: "img-responsive" %>				
					</div>
				</div>
				<div class="row">
				</div>
			</div>


			<div class="col-md-4 col-sm-12 wow bounceInRight animated">
				<h3>Profesional Profile</h3>
				<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am so happy, my dear friend.</p>
				<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>