<section id="skills" class="callout">
	<div class="container">
		<div class="row">
			<div class="col-md-12" >
				<h2>Skills</h2>
			</div>

			<div class="col-md-8 col-sm-12 skillset" >
				<h3>Technical skills</h3>
				<div class="row text-center">
					<div class="col-md-2">					
						<%= image_tag "rails.png", class: "img-responsive center-block" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "python.png", class: "img-responsive center-block" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "js.png", class: "img-responsive center-block" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "html5.png", class: "img-responsive center-block" %>				
					</div>
					<div class="col-md-2">					
						<%= image_tag "git.png", class: "img-responsive center-block" %>				
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-2">					
						<h4>Ruby On Rails</h4>
					</div>
					<div class="col-md-2">					
						<h4>Python</h4>
					</div>
					<div class="col-md-2">					
						<h4>JavaScript</h4>
					</div>
					<div class="col-md-2">					
						<h4>HTML5</h4>
					</div>
					<div class="col-md-2">					
						<h4>Git</h4>
					</div>
				</div>
			</div>


			<div class="col-md-4 col-sm-12 wow bounceInRight animated">
				<h3>Profesional Profile</h3>
				<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am so happy, my dear friend.</p>
				<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</section>